<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClassLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClassLibrary.Properties.Settings>
            <setting name="ClassLibrary_SmsSender_Send" serializeAs="String">
                <value>http://api.payamak-panel.com/post/send.asmx</value>
            </setting>
            <setting name="ClassLibrary_SamanPayment_PaymentIFBinding" serializeAs="String">
                <value>https://acquirer.samanepay.com/payments/referencepayment.asmx</value>
            </setting>
            <setting name="ClassLibrary_Shaparak_PaymentIFBinding" serializeAs="String">
                <value>https://sep.shaparak.ir/Payments/InitPayment.asmx</value>
            </setting>
        </ClassLibrary.Properties.Settings>
    </applicationSettings>
</configuration>