<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="CustomConfig" type="DataLayer.ConfigurationService, Datalayer" allowDefinition="Everywhere" />
  </configSections>
  <CustomConfig ConnectionString="DatabaseEntities" />
  <appSettings>
    <add key="Interval" value="15" />
    <add key="VerificationSize" value="10" />
    <add key="DefaultTimeOut" value="40" />
    <add key="DefaultAcceptTimeOut" value="50" />
    <add key="DefaultExceptionTitle" value="خطاي ناشناخته" />
    <add key="DefaultExceptionMessage" value="عمليات مورد نظر شما با خطا متوقف شد" />
    <add key="DefaultExceptionHelpNote" value="جهت رفع خطا با مدير سيستم تماس بگيريد" />
    <add key="DefaultExceptionInnerException" value="Fatal Error!" />
    <add key="SMSUserName" value="6201270065" />
    <add key="SMSPassword" value="2" />
    <add key="Phone" value="30007363736350" />
    <add key="EmailUserName" value="concerteatr@gmail.com" />
    <add key="EmailPassword" value="hamkam123" />
    <add key="Email" value="concerteatr@gmail.com" />
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="MID" value="10308533" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="concerteatr@gmail.com">
        <network host="smtp.gmail.com" password="hamkam123" userName="concerteatr@gmail.com" enableSsl="true" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="DatabaseEntities" connectionString="metadata=res://*/EFModel.csdl|res://*/EFModel.ssdl|res://*/EFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Heram;persist security info=True;User ID=sa;Password=1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataConnectionString" connectionString="data source=.;initial catalog=Heram;persist security info=True;initial catalog=Ticket;User ID=sa;Password=1;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="DataConnectionString" connectionString="data source=blush.mysitehosted.com;initial catalog=Ticket;persist security info=True;initial catalog=Ticket;User ID=TicketAdmin;Password=nimda123@ticket;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, &#xD;&#xA;             Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" />
    </authentication>
    <membership defaultProvider="EFMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="EFMembershipProvider" type="Provider.EFMembership" connectionStringName="DatabaseEntities" passwordFormat="Hashed" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" />
      </providers>
    </membership>
    <profile defaultProvider="EFProfileProvider" enabled="true">
      <providers>
        <clear />
        <add name="EFProfileProvider" type="Provider.EFProfile" connectionStringName="DatabaseEntities" />
      </providers>
      <properties>
        <clear />
        <add name="UserId" type="System.Guid" />
        <add name="FullName" type="string" defaultValue="بی نام" />
        <add name="FirstName" type="string" defaultValue="بی نام" />
        <add name="LastName" type="string" defaultValue="بی نام" />
        <add name="Email" type="string" />
        <add name="Mobile" type="string" />
        <add name="Phone" type="string" />
        <add name="BuyerId" type="int" />
      </properties>
    </profile>
    <roleManager enabled="true" defaultProvider="EFRoleProvider">
      <providers>
        <clear />
        <add name="EFRoleProvider" type="Provider.EFRole" connectionStringName="DatabaseEntities" />
      </providers>
    </roleManager>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" styleSheetTheme="Default">
      <controls>
        <add tagPrefix="pdc" assembly="PersianDateControls 2.0" namespace="PersianDateControls" />
      </controls>
    </pages>
    <httpRuntime executionTimeout="500" maxRequestLength="1024" />
    <sessionState mode="InProc" timeout="60" />
  </system.web>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="App_MasterPage">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Administrator">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Buyer">
    <system.web>
      <authorization>
        <allow roles="Buyer" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Guest/Ticket.aspx">
    <system.web>
      <authorization>
        <allow roles="Buyer" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="iisstart.htm" />
        <add value="_holding.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <siteMap>
      <providers>
        <add name="Administrator" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Administrator.sitemap" />
        <add name="Buyer" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Buyer.sitemap" />
        <add name="Default" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Default.sitemap" />
        <add name="DefaultMasterPage" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/DefaultMasterPage.sitemap" />
      </providers>
    </siteMap>
  </system.web>
</configuration>